html,body{
	width: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration:none; 
}
*{
	padding: 0;
	margin: 0;
}
.wapper{
	width: 100%;
	height: auto;
}
.icon{
	font-family: "iconfont";
}
.clearfix{
	*zoom: 1;
		&:after{
			content: "";
			display: table;
			height: 0;
			line-height:0;
			clear:both;
	}
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.photo{
	width: 100%;
}
.header{
	.logo{
		width: 60px;
		font-size: 30px;
		font-weight: bold;
		line-height: 50px;
		color: gray;
	}
	.market{
		width: 120px;
		line-height: 40px;
		text-align: center;
		color: blue;
		border: 1px solid #1e05b8;
		position: absolute;
		right: 370px;
		top: 5px;	
		&:hover{
			background: #1e05b8;
			color: #fff;
			}	
		}
}
.menu-header{
	ul{
		li{
			float:left;
			width: 100px;
			line-height: 40px;
			text-align: center;
			margin-left: 20px;
		}
	}
}
.search{
		width: 200px;
		line-height: 40px;
		padding: 0 5px;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		position: absolute;
		right: 150px;
		top: 5px;
		.seainp{
			width: 170px;
			border: none;
			outline: none;
		}
	}
.bigsea{
		width: 30px;
		position: absolute;
		right: 30px;
		top: 3px;
	}
.manso{
	width: 50px;
	font-size: 40px;
	position: absolute;
	right: 70px;
	top: 3px;
		ul{
		position: absolute;
		right: 30px;
		top: 47px;
		z-index: 2000;
		display: none;
			li{
			width: 150px;
			line-height: 50px;
			background: #fff;
			text-align: center;
			border: 1px solid gray;
			font-size: 18px;
		}	
	}
	&:hover ul {
		display: block;
	}
}
.manso ul li:hover{
		background: blue;
		color: #fff;
}
.threeLine{
		width: 50px;
		font-size: 40px;
		position: absolute;
		right: 20px;
		top: 3px;
}
.picture-bg{
	position: relative;
	.title{
		width: 600px;
		position: absolute;
		// left: -500px;
		left: 50px;
		top: 40px;
		color: #fff;
		// display: none;
		.title-Con1{
			font-size: 40px;
		}
		.small{
			width: 25px;
			height: 25px;
			text-align: center;
			line-height: 25px;
			border-radius: 15px;
			background: #fff;
			color: gray;
		}
	}
	.follow{
		width: 350px;
		line-height: 60px;
		position: absolute;
		bottom: 5px;
		right: 0;
		background: rgba(0,0,0,.5);
		padding: 0 5px;
		.firstSpa{
			font-size: 20px;
			margin-right: 20px;
		}
		span{
			font-size: 30px;
			margin-right: 10px;
			&:hover{
				color:#fff;
			}
		}
	}
}
.today{
	.new{
		width: 25%;
		background: #ad1625;
		line-height: 50px;
		text-align: center;
	}
	.see{
		width: 75%;
		background: #fff;
		line-height: 50px;
	}
}

@mixin tswk-also{
	width: 25%;
	height: 450px;
}
@mixin tswk{
	width: 25%;
	height: 450px;
	font-size: 30px;
	text-align: center;
}
@mixin tswk-p{
	font-size: 15px;
	line-height: 30px;
}
@mixin tswk-span{
	font-size: 15px;
}
.tswk{
	.tswk-One{
		@include tswk-also;
			background: #f9f9fb;
		p{
			line-height: 100px;
			font-size: 30px;
			text-align: center;
		}
	}
	.tswk-Two{
		@include tswk;
		background: #d4d9dc;
		.doctorCon{
			p{
				@include tswk-p;
			}
			span{
				@include tswk-span;
				color: blue;
			}
		}
		.doctorIcon1{
			color: blue;
		}
	}
	.tswk-Three{
		@include tswk;
		background: #f9f9fb;
		.doctorCon{
			p{
				@include tswk-p;
			}
			span{
				@include tswk-span;
			}
		}
		.doctorIcon1{
			color: blue;
		}
	}
}
.inside{
	.insideOne{
		@include tswk-also;
		background: #264a60;
		color: #fff;
		text-align: center;
		.inside-con{
			p{
			font-size: 30px;
			line-height: 100px;
		}
		.more{
			width: 200px;
			border: 1px solid #fff;
			margin: 20px auto;
			line-height: 50px;
			font-size: 20px;
			&:hover{
				background: #fff;
				color: #264a60;
				}
			}
		}
	}
	.insideTwo{
		@include tswk;
		background: #26324f;
		color: #fff;
		p{
				@include tswk-p;
				margin: 10px 10px;

			}
			span{
				@include tswk-span;
			}
	}
		.insideThree{
		@include tswk;
		background: #264a60;
		color: #fff;
		p{
				@include tswk-p;
				margin: 10px 10px;

			}
			span{
				@include tswk-span;
			}
	}
}

.online{
	.onlineOne{
		@include tswk-also;
		background: #f9f9fb;
			p{
			font-size: 26px;
			margin: 0 15px;
			color: #008571;
		}
		.shop{
			width: 200px;
			color: #008571;
			line-height: 40px;
			text-align: center;
			border:1px solid #008571;
			margin: 30px auto;
			&:hover{
				background: #008571;
				color: #fff; 
			}
		}
	}
	.onlineTwo{
		@include tswk;
		background: #d4d9dc;
		.doctorCon{
			p{
				@include tswk-p;
				margin: 10px 15px;
			}
			span{
				@include tswk-span;
				color: blue;
			}
		}
		.doctorIcon1{
			color: blue;
		}
	}
	.onlineThree{
		@include tswk;
		background: #f9f9fb;
		.doctorCon{
			p{
				@include tswk-p;
				margin: 10px 15px;
			}
			span{
				@include tswk-span;
			}
		}
		.doctorIcon1{
			color: blue;
		}
	}
	
}
.iconSet{
	background: #4178be;
	.icon-side{
		@include tswk-also;
		p{
			color: #fff;
			font-size: 34px;
			margin: 40px 0 0 15px;
		}
	}
	.icon-content{
		width: 74%;
		.design{
			width: 100%;
			margin-top: 30px;
			color: #fff;
			.cloudOne{
				float: left;
				width: 33%;
				p{
					width: 40px;
					font-size: 40px;
				}
				span{
					font-size: 14px;
					line-height: 30px;

				}
			}
		}
	}
}

.story{
	position: relative;
	background: #777677;
	.storyCon{
		width: 650px;
		height: 200px;
		position: absolute;
		left: 30px;
		top: 70px;
		color: #fff;
		p{
			line-height: 30px;
		}
		.storyBut{
			width: 200px;
			color: #fff;
			background: #323232;
			text-align: center;
			line-height: 40px;
			margin-top: 30px;
		}
	}
}

.iconSets{
	background: #777677; 
	.icon-side{
		@include tswk-also;
		p{
			color: #fff;
			font-size: 34px;
			margin: 40px 0 0 15px;
		}
	}
	.icon-content{
		width: 74%;
		.design{
			width: 100%;
			margin-top: 30px;
			margin-bottom: 60px;
			color: #fff;
			.cloudOne{
				float: left;
				width: 33%;
				p{
					width: 40px;
					font-size: 40px;
				}
				span{
					font-size: 14px;
					line-height: 30px;

				}
			}
		}
	}

}

.menu-list{
	background: #f9f9fb;
	padding: 30px 0 150px 0;
	.list-side{
		line-height: 35px;
		width: 23%;
		float: left;
		color: #777677;
		margin-left: 15px;
	}
}
.selects{
	background: #f9f9fb;
	.allSele{
		width: 97%;
		margin: 0 20px;
		border-bottom: 1px solid gray;
		.select-side{
			width: 300px;
			margin-bottom: 20px;
			h3{
				line-height: 50px;
			}
			#selectOne{
				width: 300px;
				height: 50px;
				font-size: 15px;
				&:hover{
					border: 1px solid blue;
				}
			}
		}
	}
}

.finally{
	background: #f9f9fb;
	.last-side{
		width: 48%;
		padding: 0 15px;
		line-height: 80px;
		color: #777677;
		ul li{
			float: left;
			margin-right: 20px;
		}
	}
	.last-icon{
		line-height: 80px;
		font-size: 20px;
		width: 20%;
	}
}

.button-top{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 30px;
	background: #ececec;
	text-align: center;
	line-height: 40px;
	position: fixed;
	right: 10px;
	bottom: 40px;
}
.insert{
	background: #fff;
	display: none;
	position: absolute;
	left: 0;
	top: 50px;
	.insert-menu{
	width: 30%;
	background: #bb9aed;
	.find{
		width: 300px;
		height: 90px;
		margin-left: 100px;
		border-bottom: 1px solid blue;
		b{
			line-height: 30px;
			width: 500px;
			}
		p{
			line-height: 50px;
			font-size: 25px;
			&:hover{
				background: #1e05b8;
				color: #fff;
			}
			}
		}
	.insert-list{
			width: 300px;
			margin-left: 100px;
			margin-top: 20px;
			li{
				line-height: 50px;
				font-size: 20px;
				&:hover{
					background: #1e05b8;
					color: #fff;
				}
			}
		}
	}
}
.insert{
	.insert-uu li{
		display: none;
		&:nth-child(1){
			display: block;
		}
		.insert-center{
			width: 70%;
		.inRight{
				width: 50%;
				margin-left: 20px;
			.inTop{
					color: #1e05b8;
					font-size: 40px;
					line-height: 80px;
				}
				p{
					line-height: 50px;
				}
				span{
					line-height: 50px;
					color: #1e05b8;
					font-size: 20px;
					&:hover{
						cursor: pointer;
						border-bottom: 1px solid blue;
					}
				}
			}
		}
	}
}
.insert-center{
	.inPho{
		width: 45%;
		margin: 90px 20px 0 0;
		p{
			font-weight: bold;
		}
		span{
			color: blue;
		}
	}
}
.shade{
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	background: rgba(0,0,0,0.2);
	display: none;
	.rightNav{
		overflow-y: auto;
		width: 300px;
		height: 100%;
		background: #fff;
		position: fixed;
		right: 0;
		top: 0;
		.buto{
			border-bottom: 2px solid gray;
			width: 100%;
			line-height: 50px;
			span{
				margin-left: 250px;
				font-size: 30px;
			}
		}
		.spaBut{
				p{
					font-size: 20px;
					line-height: 70px;
				}
				span{
					margin-left: 140px;
				}
				ul{
					width: 100%;
				}
				li{
					line-height: 50px;
					font-size: 20px;
					text-indent: 20px;
					text-transform: capitalize;
				&:hover{
					background: #1e05b8;
					color: #fff;
				}
			}
		}
	}
}






@media screen and (max-width: 1350px){
	.wapper{
		width: 100%;
	}
	.menu-header{
		ul{
			li{
				display: none;
			}
		}
	}
}
@media screen and (max-width: 1000px){
	.wapper{
		width: 100%;
	}
	.photo{
		width: 100%;
	}
	.tswk{
		.tswk-One{
			width: 50%;
		}
		.tswk-Two{
			width: 50%;
		}
		.tswk-Three{
			width: 50%;
		}
	}
	.inside{
		.insideOne{
			width: 50%;
		}
		.insideTwo{
			width: 50%;
		}
		.insideThree{
			width: 50%;
		}
	}
	.online{
		.onlineOne{
			width: 50%;
		}
		.onlineTwo{
			width: 50%;
		}
		.onlineThree{
			width: 50%;
		}
	}
	.finally{
		.last-side{
			width: 70%;
			padding: 0;
		}
		.last-icon{
			width: 30%;
		}
	}
	.menu-list{
		.list-side{
			width: 20%;
			
		}
	}
	.picture-bg{
		.title{
			width: 100%;
			left: 0;
			top: 0;
			.title-Con1{
				font-size: 30px;
			}
		}
		.follow{
			display: none;
		}
	}








}
@media screen and (max-width: 600px){
	.wapper{
		width: 100%;
	}
	.search{
			.seainp{
				display: none;
			}
			.bigsea{
				right: 0;
			}
		}
	.header{
		.market{
				right: 200px;	
			}
	}
	.tswk{
		.tswk-One{
			width: 100%;
			height: auto;
			padding: 0 0 30px 0;
		}
		.tswk-Two{
			width: 100%;
			padding: 0 0 30px 0;
			height: auto;
		}
		.tswk-Three{
			width: 100%;
			padding: 0 0 30px 0;
			height: auto;
		}
	}
	.inside{
		.insideOne{
			width: 100%;
			height: auto;
			padding: 0 0 30px 0;
		}
		.insideTwo{
			width: 100%;
			height: auto;
			padding: 0 0 30px 0;
		}
		.insideThree{
			width: 100%;
			height: auto;
			padding: 0 0 30px 0;
		}
	}
	.online{
		.onlineOne{
			width: 100%;
			height: auto;
			padding: 10px 0 30px 0;
		}
		.onlineTwo{
			width: 100%;
			height: auto;
			padding: 10px 0 30px 0;
		}
		.onlineThree{
			width: 100%;
			height: auto;
			padding: 10px 0 30px 0;
		}
	}
	.today{
		.new{
			width: 100%;
		}
		.see{
			width: 100%;
		}
	}
	.iconSet{
		.icon-side{
			width: 100%;
			height: auto;
		}
		.icon-content{
			width: 100%;
			.design{
				margin-left: 15px;
				width: 90%;
				.cloudOne{
					width:100%;
				}
			}
		}
	}
	.iconSets{
		.icon-side{
			width: 100%;
			height: auto;
		}
		.icon-content{
				width: 100%;
			.design{
				margin-left: 15px;
				width: 90%;
				.cloudOne{
					width: 100%;
				}
			}
		}
	}
	.menu-list{
		padding: 0;
		.list-side{
			width: 100%;
		}
	}
	.selects{
		.allSele{
			width: 90%;
			.select-side{
				width: 300px;
				
				#selectOne{
					width: 300px;
					
				}
			}
		}
	}
	.picture-bg{
		.title{
			width: 100%;
			padding: 20px 0;
			position: static;
			background: black;
		}
		.follow{
			display: none;
		}
	}
	.story{
		.storyCon{
			width: 100%;
			height: auto;
			padding: 20px 0;
			position: static;
			background: black;
		}
	}















}
@media screen and (max-width: 700px){
	.finally{
			.last-side{
				width: 90%;
				margin-left: 15px;
			}
			.last-icon{
				width: 90%;
				margin-left: 10px;
			}
		}

	}
@media screen and (max-width: 420px){
	.header{
		.market{
			display: none;
		}
	}
}
